REDMINE_DB_{{ 'POSTGRES' if redmine_db_adapter == 'postgresql' else 'MYSQL' }}={{ redmine_db_host }}
REDMINE_DB_PORT={{ redmine_db_port }}
REDMINE_DB_DATABASE={{ redmine_db_name }}
REDMINE_DB_USERNAME={{ redmine_db_user }}
REDMINE_DB_PASSWORD={{ redmine_db_password }}
{% if redmine_smtp_enabled | default(false) | bool %}
REDMINE_EMAIL_DELIVERY_METHOD=smtp
SMTP_ADDRESS={{ redmine_smtp_address }}
SMTP_PORT={{ redmine_smtp_port }}
SMTP_USER_NAME={{ redmine_smtp_user_name }}
SMTP_PASSWORD={{ redmine_smtp_password }}
SMTP_DOMAIN={{ redmine_smtp_domain }}
SMTP_AUTHENTICATION={{ redmine_smtp_authentication }}
{% endif %}
